<a href="https://colab.research.google.com/github/GraceChen996/TensorFlowLearningNote/blob/branch1/example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow import keras

In [ ]:
data = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv')
print(data.head())
print('数据维度',data.shape)

In [20]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
plt.scatter(data.age,data.fare)

In [ ]:
data.pop('sex')
data.pop('deck')
data.pop('embark_town')
data.pop('alone')

In [21]:
data = pd.get_dummies(data)
data.head(5)

,survived,age,n_siblings_spouses,parch,fare,class_First,class_Second,class_Third
0,0,22.0,1,0,7.2500,0,0,1
1,1,38.0,1,0,71.2833,1,0,0
2,1,26.0,0,0,7.9250,0,0,1
3,1,35.0,1,0,53.1000,1,0,0
4,0,28.0,0,0,8.4583,0,0,1

In [29]:
labels = np.array(data['survived'])
data = data.drop('survived',axis=1);
feature_list = list(data.columns)
data = np.array(data)

In [30]:
import sklearn 
from sklearn import preprocessing
input_features = preprocessing.StandardScaler().fit_transform(data)

In [23]:
input_features[0]

array([-0.79549513, -0.61041496,  0.39519805, -0.47905267, -0.49740279,
       -0.58287528, -0.50398413,  0.91581094])

In [25]:
'''
tf2.x版本对网络模型的构建进行了优化，不再需要预设值各种复杂的参数，只需要预先设置好各层神经元的个数即可
'''
model = tf.keras.Sequential([
    keras.layers.Dense(16),
    keras.layers.Dense(32),
    keras.layers.Dense(1)
])

In [27]:
model.compile(optimizer=tf.keras.optimizers.SGD(0.001),
              loss='mean_squared_error')

In [ ]:
model.fit(input_features,labels,validation_split=0.25,epochs=100,batch_size=64)

In [33]:
prediction = model.predict(input_features)

20/20 [==============================] - 0s 1ms/step